<!DOCTYPE html>
<html ng-app="myModule">
<head>
	<title></title>
	<meta charset="utf-8" />
	<script src="Scripts/angular.js"></script>
	<script src="Scripts/index08.js"></script>
	<link href="Styles/index08.css" rel="stylesheet" />
</head>
<body>
	<h3>08. Filters in AngularJS.</h3>
	<div ng-controller="myController">
		Rows to display<input type="number" step="1" min="0" max="5" ng-model="rowLimit" /><br /><br />
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Date of Birth</th>
					<th>Gender</th>
					<th>Salary (number)</th>
					<th>Salary (currency)</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr ng-repeat="employee in employees | limitTo:2:1 ">-->
				<tr ng-repeat="employee in employees | limitTo:rowLimit ">
					<td>{{ employee.name | uppercase }}</td>
					<td>{{ employee.dateOfBirth | date:"dd/MM/yyyy" }}</td>
					<td>{{ employee.gender | lowercase }}</td>
					<td>{{ employee.salary | number:2 }}</td>
					<td>{{ employee.salary | currency:"£":2 }}</td>
				</tr>
			</tbody>
		</table>
		<br /><br /><br />




	</div>
	<br />

</body>
</html>

